.panels-container{
    display: flex;
    flex-direction: column;
}

.total-panel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:black;
    font-weight: bold;
    border: 1px solid black;
    border-left: 4px solid #77a1ff;
    border-radius: 5px;
    background-color: #f5f5f5;
    width: 300px;
    height: 75px;
    padding: 10px;

}

.icon-total-panel{
    border: solid 3px #77a1ff;
    border-radius: 25px;
    padding: 7px;
}

@media (min-width: 768px) {
    .panels-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 10px auto;
        width: 98.8%;
    }
}