.last-experience-container{
    width: 60%;
    min-width: 300px;
    font-family: Roboto, sans-serif;
    border: #000 1px solid;
    border-radius: 5px;
    border-left: 4px solid #77a1ff;
    display: flex;
    background-color: #f5f5f5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 435px;
    justify-content: flex-start;
    box-sizing: border-box;
}

.card-header {
    border-bottom: 1px solid #e3e6f0;
    font-size: 24px;
    margin: 15px 0px 15px 0px
}

.subTitle{

    font-weight: bold;
    font-size: 18px;
    margin-block-end: 1.4em;
    margin-block-start: 0.2em;

}

.card-body {
    padding: 0rem 3.3rem 0rem 3.3rem;
}


.card-body p {
    margin-block-end: 1em;
}

.subSubTitle{
    font-weight: bold;
    font-size: 16px;
}
.info{
    display: flex;
}
.data{
    margin-left: 10px;
}

/* @media (min-width: 768px)
.precioMasCant {
    margin-bottom: 25%;
}

@media (min-width: 559px)
.precioMasCant {
    margin-bottom: 20%;
} */
@media (max-width: 768px){

    .info {
        display: block;
    }
}