.col-lg-6{
    width: 40%;
    font-family: Roboto, sans-serif;
    border: #000 1px solid;
    border-left: 4px solid #77a1ff;
    display: flex;
    margin: 0%;
}

.card {
    position: relative;
    background-color: #fff;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
}


.card-header {
    padding: .75rem 1.25rem;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}

body {
    font-weight: 400;
}
.subTitle{

    font-weight: bold;
    font-size: 16px;
}

h5 {
    display: block;
    font-size: 24px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}


.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}


.card-body p {
    display: block;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}