:root {
  --blue: #77a1ff;
  --gray: #ced4da;
}

* {
  font-family: Roboto, sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  /* background-color: #e9ecef; */
  background-image: url('../images/main-background.svg');
}

.home {
  width: 90%;
}

/*** Pagination ***/
.pagination-container {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: absolute;
  bottom: 0%;
}

.pagination-container a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 2px solid var(--blue);
  color: var(--blue);
  cursor: pointer;
}

.pagination-container a:hover {
  background-color: var(--blue);
  color: white;
}

.active-btn a {
  background-color: var(--blue);
  color: white;
}

.disabled-btn a, .disabled-btn a:hover {
  background-color: var(--gray);
  color: white;
  cursor: not-allowed;
  border: 2px solid var(--gray);
}


@media (min-width: 768px) {
  .App {
    flex-direction: row;
  }
}