:root {
  --blue: #77a1ff;
  --gray: #ced4da;
}

* {
  font-family: Roboto, sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  /* background-color: #e9ecef; */
  background-image: url('../images/main-background.svg');
}

.home {
  width: 100%;
}

.title-container {
  background-color: white;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  align-self: flex-start;
  display: flex;
  justify-content: center;
}

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.experiences-title {
  text-align: center;
  color: var(--blue);
}

/*** Pagination ***/
.pagination-container {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: absolute;
  bottom: 0%;
}

.pagination-container a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 2px solid var(--blue);
  color: var(--blue);
  cursor: pointer;
}

.pagination-container a:hover {
  background-color: var(--blue);
  color: white;
}

.active-btn a {
  background-color: var(--blue);
  color: white;
}

.disabled-btn a, .disabled-btn a:hover {
  background-color: var(--gray);
  color: white;
  cursor: not-allowed;
  border: 2px solid var(--gray);
}


@media (min-width: 768px) {
  .App {
    flex-direction: row;
  }

  .home {
    width: 90%;
  }

  .title-container {
    width: 30%;
    margin-left: 50px;
  }

  .experience-container {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
}