:root {
    --table-gray: #858796;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container {
    width: 90%;
    background-color: white;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*** Pagination ***/
.pagination-container {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.pagination-container a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid blue;
    cursor: pointer;
}

.active-btn a {
    background-color: blue;
    color: white;
}
